{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %} Login {% endblock %}
{% block css_block %}
<style>
    .sign-up{
        width: 425px;
        border: 1px solid #ccc;
        padding: 40px;
    }
    .login{
        width: 425px;
        border: 1px solid #ccc;
        padding: 40px;
    }
</style>
{% endblock %}
{% block body_block %}
<center>
<div class="form-container">
    <div class="sign-up">
        <h4>Login here</h4><br>
        <form action="" method="POST">
            {{form|crispy}}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-sm">login</button>
        </form>
    </div>
    <div class="login my-3">
        <p>Don't have an account? <a href="{% url 'login_app:sign_up' %}">Sign up here</a></p>
    </div>
</div>
</center>
{% endblock %}