{% extends 'navbar.html' %}
{%block title_block %} Profile {%endblock%}

{% block body_block %}

<div class="row">
    <div class="col-sm-4">
        {% if user.profile.profile_picture %}
        <img src="/media/{{user.profile.profile_picture}}" alt="" width="250px" height="250px"
            class="rounded-circle">
        {% else %}
        <img src="/static/images/unisex_avatar.jpg" width="250px" height="250px" class="rounded-circle" alt="default">
        {% endif %}
    </div>
    <div class="col-sm-8"><br><br>
        <strong>Fullname: </strong>{{user.profile.fullname}} <br>
        <strong>User name: </strong>{{user.username}} <br>
        <strong>Email address: </strong> {{user.email}} <br>
        <strong>Website: </strong>{{user.profile.website}} <br>
        <strong>About: </strong>{{user.profile.about}} <br><br>
        <a href="#" class="btn btn-info btn-sm">Edit profile</a>
    </div>
</div><hr>

{% endblock %}